# Tuple - ()

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different characteristics and use cases.
- A Tuple in Python is an **ordered** collection of values, similar to a list. 
- Tuples can hold values of different data types making them **heterogenous**'
- Cannot add, remove or modify values, hence are **immutable**.
- Tuples are **indexable** i.e. elements of the tuple can be accessed using zero-based indexing.
- And since tuples are indexed, they **can have duplicates**.

In [1]:
fruits = ('apple', 'cherry', 'dates')

In [2]:
len(fruits)

3

In [3]:
fruits[0]

'apple'

In [4]:
print(fruits[1])

cherry

#### Defaulting to Tuples
You can skip the () while creating a tuple. Python automatically converts comma-seperated values into a tuple

In [5]:
veggies = 'carrots', 'potatoes', 'onions'
veggies

('carrots', 'potatoes', 'onions')

In [6]:
type(veggies)

tuple

You can also create a tuple with just one element by typing a comma after it. Just wrapping one element within a () won't make it a tuple

In [7]:
list1 = 4,
list1

(4,)

In [8]:
type(list1)

tuple

In [9]:
list2 = (3)
list2

3

In [10]:
type(list2)

int

Tuples are often used to create multiple variables with a single statement.

In [11]:
point = 7, 8
type(point)

tuple

In [12]:
x, y = point
print(x)
print(y)

7
8

#### List to Tuples
You can convert a list into tuple using ```tuple``` function, and vice versa using the ```list``` function

In [13]:
fruits

('apple', 'cherry', 'dates')

In [14]:
f_list = list(fruits)
print(f_list)
print(type(f_list))

['apple', 'cherry', 'dates']
<class 'list'>

In [15]:
t_list = tuple(f_list)
print(t_list)
print(type(t_list))

('apple', 'cherry', 'dates')
<class 'tuple'>

## Tuple Methods

### count()

In [16]:
t_list.count('cherry')

1

### index()

In [17]:
t_list.index('dates')

2

You can perform ```indexing``` and ```slicing``` on Tuple similarly like Lists\
You can also check if an item exists in Tuple using ```in``` operator

## Tuple Immutability
Tuple items cannot be changed, added or removed so to perform any modification, you can convert it into a list, make modification and convert it back to tuple.

You can add tuples to tuples

In [18]:
list3 = (1, 2, 3)
x = 4,
list3 += x

print(list3)

(1, 2, 3, 4)

## Delete Tuple
You can also use the ```del``` keyword to delete a tuple completely.

In [19]:
del list3

In [20]:
num = 24
fnum = 13.55246
word = 'This is sample text'

## Unpacking Tuples

When we create a tuple, we normally assign values to it. This is called **packing** a tuple.
But in Python, we are also allowed to extract the values back into variables. This is called **unpacking**.

In [21]:
fruits

('apple', 'cherry', 'dates')

In [22]:
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
cherry
dates

If the number of variables is less than the number of values, you can add an ```*``` to the variable name and the values will be assignes to the variable as a list

In [23]:
fruits = ('apple', 'mango', 'cherry', 'dates', 'plum', 'kiwi')

(green, blue, *red) = fruits

print(green)
print(blue)
print(red)

apple
mango
['cherry', 'dates', 'plum', 'kiwi']

In [24]:
type(green)

str

In [25]:
type(red)

list

In [26]:
(green, *blue, red) = fruits

print(green)
print(blue)
print(red)

apple
['mango', 'cherry', 'dates', 'plum']
kiwi

## Concat Tuples
You can join tuples by Concatenation just like lists

In [1]:
my_list = (1, 2, 3)
new_elements = (4, 5, 6)
combined_list = my_list + new_elements
print(combined_list)

(1, 2, 3, 4, 5, 6)

## Multiply Tuples

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')