# For Loop
A ```loop``` is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).

A Python ```for``` loop is used to iterate over a sequence (such as a list, tuple, string, dictionary, or set) or other iterable objects. It allows you to execute a block of code for each item in the sequence.

In [1]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

**Explanation**:
- **for**: The keyword that initiates the loop.
- **item**: A variable that takes on the value of each element in the -iterable during each iteration. You can choose any valid variable name. 
- **in**: The keyword that links the item variable to the iterable. 
- **iterable**: Any object that can be iterated over, such as a list, tuple, string, range object, etc.

In [2]:
fruits = ['apple', 'mango', 'banana']

for x in fruits:
    print(x)

apple
mango
banana

The ```for``` loop does not require an indexing variable to set beforhand like the while loop.

In [3]:
for pal in ('aliya', 'sarita', 'samiya'):
    print(pal)

aliya
sarita
samiya

### break Statement
With the ```break``` statement we can stop the loop before it has looped through all the items

In [4]:
name = "Aliya_Fanaskar"

for n in name:
    print(n)
    if n == "F":
        break

A
l
i
y
a
_
F

In [5]:
name = "Aliya_Fanaskar"

for n in name:
    if n == "F":
        break
    print(n)

A
l
i
y
a
_

### continue Statement
With the ```continue``` statement we can stop the current iteration of the loop, and continue with the next.

In [6]:
name = "Aliya_Fanaskar"

for n in name:
    if n == 'A' or n == 'a':
        continue
    print(n)

l
i
y
_
F
n
s
k
r

### pass Statement

In [27]:
for x in [0, 1, 2, 3]:
    pass

### The range() Function
To loop through a set of specified number of times, we can use the ```range()``` function.\
It returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at the specified number(excluding the number)\
\
**Syntax** :- ```range(start, end, step)```

In [7]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [8]:
for x in range(3, 8):
    print(x)

3
4
5
6
7

In [9]:
for x in range(4, 30, 7):
    print(x)

4
11
18
25

In [10]:
for x in range(3, 30, 3):
    print(x)

3
6
9
12
15
18
21
24
27

In [11]:
for x in range(7):
    if x == 5: break
    print(x)
else:
    print('finally finished')

0
1
2
3
4

In [12]:
for x in range(1, 6):
    val = (x - 1)
    print(float(val))

0.0
1.0
2.0
3.0
4.0

In [13]:
for x in range(1, 6):
    val = (x - 1) * 0.5
    print(val)

0.0
0.5
1.0
1.5
2.0

In [14]:
for x in range(1, 6):
    dist = 2 + (x - 1) * 0.5
    print(f"Day {x}: Run {dist} miles")

Day 1: Run 2.0 miles
Day 2: Run 2.5 miles
Day 3: Run 3.0 miles
Day 4: Run 3.5 miles
Day 5: Run 4.0 miles

### Nested For Loops
A nested loop is a loop inside a loop.\
The ```inner loop``` will be executed one time for each iteration of the```outer loop```

In [41]:
a = 'ABC'
b = 'XYZ'

for x in a:
    for y in b:
        print(f'Combination: {x} {y}')

Combination: A X
Combination: A Y
Combination: A Z
Combination: B X
Combination: B Y
Combination: B Z
Combination: C X
Combination: C Y
Combination: C Z

In [42]:
q = ['red', 'big', 'tasty']
f = ['apple', 'banana', 'cherry']

for x in q:
    for y in f:
        print(f'It\'s a {x} {y}')

It's a red apple
It's a red banana
It's a red cherry
It's a big apple
It's a big banana
It's a big cherry
It's a tasty apple
It's a tasty banana
It's a tasty cherry

#### List Comprehension
This is a feature in Python that offers a shorter syntax when you want to create a new list based on the values of an existing list\
**Syntax** ```newlist = ['expression' for 'item' in iterable if condition == True]```

**The normal way to achieve this would be:**

In [16]:
# Traditional Method

fruits = ['apple', 'mango', 'cherry', 'apricot', 'kiwi']
fruits_with_a = []

for x in fruits:
    if 'a' in x:
        fruits_with_a.append(x)

print(fruits_with_a)

['apple', 'mango', 'apricot']

**using the List Comprehension syntax:**

In [43]:
# With List Comprehension

fruits_with_a = [x for x in fruits if 'a' in x]

print(fruits_with_a)

['apple', 'mango', 'apricot']

In [18]:
# all items in new list
all_fruits = [x for x in fruits]
print(all_fruits)

['apple', 'mango', 'cherry', 'apricot', 'kiwi']

In [19]:
all_fruits = [x.upper() for x in fruits]
print(all_fruits)

['APPLE', 'MANGO', 'CHERRY', 'APRICOT', 'KIWI']

In [20]:
all_fruits = ['Indian ' + x.capitalize() for x in fruits]
print(all_fruits)

['Indian Apple', 'Indian Mango', 'Indian Cherry', 'Indian Apricot', 'Indian Kiwi']

In [21]:
fruits

['apple', 'mango', 'cherry', 'apricot', 'kiwi']

In [22]:
new_f = [x if x != 'cherry' else 'banana' for x in fruits]
print(new_f)

['apple', 'mango', 'banana', 'apricot', 'kiwi']

**Iterable**

In [23]:
list1 = [x for x in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list2 = [x for x in range(20) if x % 2 == 0]
print(list2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
num = list(range(10))
print('num list:', num)

num1 = [x * 2 for x in num]
print('num1 list:', num1)

num list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
num1 list: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
spect = list(range(-5, 6))
print('spect list:', spect)

spect1 = [1 - x for x in spect]
print('spect1 list:', spect1)

spect list: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
spect1 list: [6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

### enumerate()
```enumerate()``` function adds a counter to each ietm in a list or other iterable

In [28]:
name = 'Aliya'

for x in enumerate(name):
    print(x)

(0, 'A')
(1, 'l')
(2, 'i')
(3, 'y')
(4, 'a')

In [29]:
site = 'GOOGLE'

for x, y in enumerate(site):
    print(x, y)

0 G
1 O
2 O
3 G
4 L
5 E

In [30]:
# Iterating using enumerate to get both index and element
# 1st variable stores index and 2nd variable stores list item
for i, n in enumerate(name):
    print(f"Letter at {i}: {n}")

Letter at 0: A
Letter at 1: l
Letter at 2: i
Letter at 3: y
Letter at 4: a

In [31]:
# Converting to a list of tuples
print(list(enumerate(name)))

[(0, 'A'), (1, 'l'), (2, 'i'), (3, 'y'), (4, 'a')]

### More

#### next()
the ```next()``` function in Python is a built-in function used to retrieve the next item from an iterator. It takes an iterator as its first argument and an optional second argument for a default value

#### iter()
the ```iter()``` is a built-in function used to obtain an iterator from an iterable object.

In [32]:
my_list = [1, 2, 3, 4, 5]

# Get an iterator from the list using iter()
item = iter(my_list)

# Access elements using next()
print(next(item))
print(next(item))
print(next(item))
print(next(item))

1
2
3
4

In [33]:
# Iterating with a for loop which implicitly uses iter() and next()
for item in my_list:
    print(item)

1
2
3
4
5

#### next() with enumerate()
the ```enumerate()``` function serves as an iterator, inheriting all associated iterator functions and methods. Therefore we can use the ```next()``` method with an enumerate object

In [34]:
name = 'Aliya_Adil'

# Creating an enumerate object from the string
letter = enumerate(name)

# This retrieves the first index-element pair from 'i'
nxt = next(letter)
print(nxt)
print(nxt)

nxt = next(letter)
print(nxt)

nxt = next(letter)
print(nxt)

(0, 'A')
(0, 'A')
(1, 'l')
(2, 'i')

### Self Experiments

In [35]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

In [36]:
for day in weekdays:
    print('Today is {}'.format(day))
    if day == 'Wednesday':
        print("I don't work in Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work in Wednesday!

In [37]:
for day in weekdays:
    if day == 'Wednesday':
        print("I don't work on Wednesdays!")
        continue
    elif day == 'Saturday':
        print("Saturday is half day!")
        continue
    print(f"Today is {day}")

Today is Monday
Today is Tuesday
I don't work on Wednesdays!
Today is Thursday
Today is Friday
Saturday is half day!

In [38]:
#table of any number
m = 6
for x in range(m, (m*10)+m, m):
    print(f'{m} multiplied by __ is {x}')

6 multiplied by __ is 6
6 multiplied by __ is 12
6 multiplied by __ is 18
6 multiplied by __ is 24
6 multiplied by __ is 30
6 multiplied by __ is 36
6 multiplied by __ is 42
6 multiplied by __ is 48
6 multiplied by __ is 54
6 multiplied by __ is 60

In [39]:
#table of any number
m = 6
for i, x in enumerate(range(0, (m*10)+m, m)):
    print(f'{m} multiplied by {i} is {x}')

6 multiplied by 0 is 0
6 multiplied by 1 is 6
6 multiplied by 2 is 12
6 multiplied by 3 is 18
6 multiplied by 4 is 24
6 multiplied by 5 is 30
6 multiplied by 6 is 36
6 multiplied by 7 is 42
6 multiplied by 8 is 48
6 multiplied by 9 is 54
6 multiplied by 10 is 60

In [40]:
#table of any number
m = 6
for i, x in enumerate(range(0, (m*10)+m, m)):
    if x == 0:
        continue
    print(f'{m} multiplied by {i} is {x}')

6 multiplied by 1 is 6
6 multiplied by 2 is 12
6 multiplied by 3 is 18
6 multiplied by 4 is 24
6 multiplied by 5 is 30
6 multiplied by 6 is 36
6 multiplied by 7 is 42
6 multiplied by 8 is 48
6 multiplied by 9 is 54
6 multiplied by 10 is 60